{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}
 
{% block title %}
Post
{% endblock title %}
 
{% block content %}

<h2>{{ post.topic |censor}}</h2>
<h3>{% current_time ' %d %b %Y' %}</h3>
{{ post.text_of_topic |censor}}


<hr>
<h2>Пользователь: {{ request.user.username }}</h2>
{% if is_not_author %}
<button><a href="http://127.0.0.1:8000/sign/upgrade/">Стать автором</a></button>
{% endif %}


<button><a href="http://127.0.0.1:8000/sign/logout/">Выйти</a></button>

{% endblock content %}



